################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Italia.Sdk18App/obj
/.vs
Italia.Sdk18App/bin