################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Italia.Sdk18App/obj
/.vs
Italia.Sdk18App/bin
Italia.Voucher18App.Example/bin/*
Italia.Voucher18App.Example/obj/*
Italia.Voucher18App/bin/*
Italia.Voucher18App/obj/*
