<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Credential">
          <clientCredentials>
            <clientCertificate storeLocation="LocalMachine" storeName="My" findValue="34 88 f9 ec 36 4e 42 a8" x509FindType="FindBySerialNumber"/>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck"/>
							<sslCertificateAuthentication trustedStoreLocation="LocalMachine" certificateValidationMode="PeerOrChainTrust"/>
						</serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
			<basicHttpBinding>
        <binding name="VerificaVoucherSOAP">
          <security mode="Transport">
						<transport clientCredentialType="Certificate" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://wstest.18app.italia.it/VerificaVoucherWEB/VerificaVoucher"
          binding="basicHttpBinding" bindingConfiguration="VerificaVoucherSOAP"
          contract="VerificaVoucher.VerificaVoucher" name="VerificaVoucherSOAP"
          behaviorConfiguration="Credential">
        <identity>
          <certificateReference storeLocation="LocalMachine" storeName="My" findValue="34 88 f9 ec 36 4e 42 a8" x509FindType="FindBySerialNumber"/>
        </identity>
      </endpoint>
    </client>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
    </settings>
  </system.net>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
							switchValue="Information, ActivityTracing"
							propagateActivity="true">
				<listeners>
					<add name="traceListener"
							type="System.Diagnostics.XmlWriterTraceListener"
							initializeData= "C:\TEMP\Traces.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
</configuration>